body{
    padding:0;
    margin:0;
    max-width:1028px;
    margin:auto;
    background: url("../pic/bg.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
}
h1, h3{
    color:white;
}
#content{
    text-align: center;
    margin-top:10vh;
}
#buttons{
    justify-content: space-around;
    display:flex;
}
#save{
    color:white;
    width:150px;
    height:50px;
    border-radius: 60%;
    background: linear-gradient(to right, black ,rgb(128, 69, 2), rgb(206, 127, 8));
    border:none;
}
#update{
    color:white;
    width:150px;
    height:50px;
    border-radius: 60%;
    background: linear-gradient(to right, rgb(67, 68, 133) ,rgb(41, 3, 53), rgb(95, 1, 79));
    border:none;
}
#delete{
    color:white;
    width:150px;
    height:50px;
    border-radius: 60%;
    background: linear-gradient(to right, rgb(182, 47, 115) ,rgb(41, 3, 38), rgb(0, 0, 0));
    border:none;
}

#update:hover{
    background: linear-gradient(to right, rgba(67, 68, 133, 0.603) ,rgba(41, 3, 53, 0.603), rgba(95, 1, 79, 0.603));
}
#save:hover{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.603) ,rgba(128, 69, 2, 0.603), rgba(206, 127, 8, 0.603));
    
}
#delete:hover{
    background: linear-gradient(to right, rgba(182, 47, 115, 0.603) ,rgba(41, 3, 38, 0.603), rgba(0, 0, 0, 0.603));
}
#action{
    margin:auto;
    width:130px;
    height:80px;
    background-color:rgba(255, 255, 255, 0.63);
    margin-top:40px;
}
#horoscope{
    margin:auto;
    width:100px;
    height:20px;
    margin-top: 10px;
    background-color:rgba(255, 255, 255, 0.623);
}