body{
    padding:0;
    margin:0;
    max-width:1028px;
    margin:auto;
    background-color:rgb(13, 13, 80);
}
#content{
    text-align: center;
}
#buttons{
    justify-content: space-around;
    display:flex;
}
button{
    width:150px;
    height:50px;
}

#horoscope{
    width:100px;
    height:40px;
    background-color:white;
    margin-left:45%;
    margin-top:10px;
}